.list-group {
  max-height: 500px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-group::-webkit-scrollbar {
  display: none;
}
